{
    "semi": false,
    "singleQuote": true,
    "printWidth": 100,
    "tabWidth": 2,
    "useTabs": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "trailingComma": "all",
    "jsxSingleQuote": true,
    "endOfLine": "lf",
    "embeddedLanguageFormatting": "auto",
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ]
}